/* style.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.section {
    height: 100vh; /* 각 섹션의 높이를 화면 전체로 설정 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0; /* 배경색 */
}

#section1 {
    background-image: url(img/img_2.jpg);
    background-size: cover; /* or contain, depending on your needs */
    background-repeat: no-repeat; /* prevents the image from repeating */
    background-position: center; /* centers the image */
}
#section2 {
    background-image: url(img/img_2.jpg);
    background-size: cover; /* or contain, depending on your needs */
    background-repeat: no-repeat; /* prevents the image from repeating */
    background-position: center; /* centers the image */
}
h1 {
    font-size: 3em;
    margin: 0;
    
}

#grid {
    margin-top: 20px;
}

#grid ul {
    list-style: none;
    padding: 0;
}

#grid li {
    display: inline;
    margin: 0 15px;
}

#article {
    margin-top: 20px;
}

#article img {
    max-width: 100%;
    height: auto;
}
